<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <img src="../../../assets/img/foto.jpg" alt="fotoIng">
</div>

<section class="sr-seccion col-md-10 offset-md-1">
  <p></p>
  <p class="quote">
    I have a strong passion for technology and enjoy staying updated with the latest advancements in the field.
    In my free time,
    I love playing soccer and going for walks, which helps me stay active and fosters a sense of teamwork.
    Additionally, spending quality time with my family is very important to me,
    providing a perfect balance to my professional and personal life.
  </p>
</section>




