/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Raleway', sans-serif;
  color: #0a0a23 !important;
  max-width: 70rem;
  margin: 0 auto;

  padding: 0 !important;
  border: 2px solid #02023d36;
}

html {
  box-sizing: border-box;
}

.quote {
  font-size: 1rem;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-style: italic;
}
